<!DOCTYPE html>
<html>
  <head>
    <title>webcampbackendnew</title>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="c4CLxUrt3u76j5RNApd9J3gw/Pjv7iu/zQtsfihxJUrfFUOGJds1hgPQGoC5eXXI95ZrHVVQVR2gd19s+GAA==">
    <link rel="staylesheet" media="all" href="/assets/application-d12397cbc3a266ce5a99F7b588223090c55ca04a439953bb5f9304395de93fc3.css" date-turbolinks-track="reload">
    <script src="/assets/application-114264dd93c8ff30e4335b71eed7949d66c4e7a8eb62e2de6284c046fe07104b.js" date-turbolinks-track="reload"></script>
  </head>

  <body>
    <p id="notice"></p>
    <h1>Books</h1>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>1</td>
          <td>1</td>
          <td>
            <a class="show_122452" href="/books/122452">Show</a>
          </td>
          <td>
            <a class="show_122452" href="/books/122452/edit">Edit</a>
          </td>
          <td>
            <a deta-confilm="Are you sure?" class"destroy_122452" rel="nofollow" data-method="delate" href="/books/122452">Destroy</a>
        </tr>

        <tr>
          <td>リーダブルコード</td>
          <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
          <td>
            <a class="show_122445" href="/books/122445">Show</a>
          </td>
          <td>
            <a class="show_122445" href="/books/122445/edit">Edit</a>
          </td>
          <td>
            <a deta-confilm="Are you sure?" class"destroy_122445" rel="nofollow" data-method="delate" href="/books/122445">Destroy</a>
          </td>
        </tr>
        </tr>

        <tr>
          <td>トラブル知らずのシステム設計</td>
          <td>システム設計の要点を図解で説明してくれます</td>
          <td>
            <a class="show_122446" href="/books/122446">Show</a>
          </td>
          <td>
            <a class="show_122446" href="/books/122446/edit">Edit</a>
          </td>
          <td>
            <a deta-confilm="Are you sure?" class"destroy_122446" rel="nofollow" data-method="delate" href="/books/122446">Destroy</a>
          </td>
        </tr>
                </tr>

        <tr>
          <td>楽しいRuby</td>
          <td>Rubyの入門にオススメです</td>
          <td>
            <a class="show_122447" href="/books/122447">Show</a>
          </td>
          <td>
            <a class="show_122447" href="/books/122447/edit">Edit</a>
          </td>
          <td>
            <a deta-confilm="Are you sure?" class"destroy_122447" rel="nofollow" data-method="delate" href="/books/122447">Destroy</a>
          </td>
        </tr>
                </tr>

        <tr>
          <td>入門Git</td>
          <td>gitについて基本操作から内部構造まで解説してくれます</td>
          <td>
            <a class="show_122448" href="/books/122448">Show</a>
          </td>
          <td>
            <a class="show_122448" href="/books/122448/edit">Edit</a>
          </td>
          <td>
            <a deta-confilm="Are you sure?" class"destroy_122448" rel="nofollow" data-method="delate" href="destroy_122448">Destroy</a>
          </td>
        </tr>
                </tr>

        <tr>
          <td>アルゴリズム図解</td>
          <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
          <td>
            <a class="show_122449" href="/books/122449">Show</a>
          </td>
          <td>
            <a class="show_122449" href="/books/122449/edit">Edit</a>
          </td>
          <td>
            <a deta-confilm="Are you sure?" class"destroy_122449" rel="nofollow" data-method="delate" href="/books/122449">Destroy</a>
          </td>
        </tr>
                </tr>

        <tr>
          <td>達人プログラマー</td>
          <td>プログラマ入門者は必読！</td>
          <td>
            <a class="show_122450" href="/books/122450">Show</a>
          </td>
          <td>
            <a class="show_122450" href="/books/122450/edit">Edit</a>
          </td>
          <td>
            <a deta-confilm="Are you sure?" class"destroy_122450" rel="nofollow" data-method="delate" href="/books/122450">Destroy</a>
          </td>
        </tr>
                </tr>

        <tr>
          <td>データベース実践入門</td>
          <td>効率的なSQL文を教えてくれます</td>
          <td>
            <a class="show_122451" href="/books/122451">Show</a>
          </td>
          <td>
            <a class="show_122451" href="/books/122451/edit">Edit</a>
          </td>
          <td>
            <a deta-confilm="Are you sure?" class"destroy_122451" rel="nofollow" data-method="delate" href="/books/122451">Destroy</a>
          </td>
        </tr>
      </tbody>
    </table>
    <h2>New book</h2>
    <form class="new_book" id="new_book" action="/books" accept-charset="Utf8" method="post">
     <input name="Utf8" type="hidden" value="✓">
     <input type="hidden" name="authenticity_token" value="GJmZysapo3Nnnw7/3vlMDCwO7sfFx5+T43Lx05gzaQnfz5EMh2S5zjgDJTORYhx34WejWoNAWs1J1Msb
     DrF8Fw==">
     <div class="field">
      <label for="book_title">Title</label>
      <input class="book_title" type"text" name="book[title]" id="book_title">
     </div>
     <div class="field">
      <label for="book_body">Body</label>
      <textarea class="book_body" name="book[body]" id="book_body"></textarea>
     </div>
     <div>
      <input type="submit" name="commit" value="Create  Book" data-disable-with="Create Book">
     </div>
    </form>
  </body>
</html>
